<h1>The page you are looking for is NOT available!</h1>
<!-- note: making src="./images/pit.jpg" only makes the error message display the jpg
... image if there was an error in the root directory -->
<img src="/images/pit.jpg"></img>
