<!-- Mostly a copy of the user's new.ejs file-->
<!-- You want to start using PUT requests for updates instead of POST so that 
  there is no confusion about wether a request is adding new data or modifying existing data-->
<div class="data-form">
  <!--With the _method=PUT query parameter, you can interpret POST requests as PUT requests-->
  <form
    action="<%=`/subscribers/${subscriber._id}/update?_method=PUT`%>"
    method="POST"
  >
    <h2>Edit subscriber info</h2>
    <label for="inputName">Name</label>
    <input
      type="text"
      name="first"
      id="inputName"
      value="<%= subscriber.name%>"
      placeholder="Name"
      autofocus
    />

    <label for="inputEmail">Email address</label>
    <input
      type="email"
      name="email"
      id="inputEmail"
      value="<%= subscriber.email%>"
      placeholder="Email address"
      required
    />

    <label for="inputZipCode">Zip Code</label>
    <input
      type="text"
      name="zipCode"
      id="inputZipCode"
      value="<%= subscriber.zipCode%>"
      pattern="[0-9]{5}"
      placeholder="Zip Code"
      required
    />

    <button type="submit">Save</button>
  </form>
</div>
